@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;

  --capstone-green: #dcfff1;
  --capstone-green-strong: #7bffca;
  --capstone-blue: #deffff;
  --capstone-blue-strong: #9bffff;

  --capstone-grey: #1f1f1f;
  --capstone-grey-strong: #212121;
  --capstone-black: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-capstone-green: var(--capstone-green);
  --color-capstone-blue: var(--capstone-blue);
  --color-capstone-green-strong: var(--capstone-green-strong);
  --color-capstone-blue-strong: var(--capstone-blue-strong);

  --color-capstone-grey: var(--capstone-grey);
  --color-capstone-black: var(--capstone-black);
  --color-capstone-grey-strong: var(--capstone-grey-strong);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ========== GLOBAL STYLES ========== */

body {
  background: var(--capstone-black);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply bg-capstone-green-strong hover:bg-capstone-green text-black border-2 border-solid border-capstone-grey font-bold py-2 px-4 my-2 mx-2 rounded
}

.button-disabled {
  @apply bg-capstone-green-strong hover:bg-capstone-green text-black border-2 border-solid border-black font-bold py-2 px-4 my-2 mx-2 rounded opacity-50
}

.page-header {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  border-bottom: 12px solid var(--capstone-green-strong);

  margin-top: 1%;
  margin-bottom: 1%;
}

.update {
  background-color: red;
}

/* ========== LAYOUT ========== */

.nav-header {
  background-color: var(--capstone-black);
  border-bottom: 4px solid var(--capstone-grey-strong);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-header-text {
  font-size: xxx-large;
  font-weight: bold;
  border-bottom: 12px solid var(--color-capstone-green-strong);
  border-radius: 5px;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav-item {
  /* font-size: x-large;
  font-weight: bold;
  margin: 15px 55px; */
  @apply text-2xl font-bold mx-10 my-40 p-1 hover:text-capstone-green-strong hover:border-capstone-green-strong border-transparent border-2 rounded-lg
}

/* ========== HOME ========== */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--capstone-black);
  border: 3px solid var(--capstone-grey-strong);

  width: 60%;
}

.home-header-text {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;

  margin-top: 1%;
}

.home-body-text {
  font-size: large;
  text-align: center;
  width: 60%;
  padding: 5px;
  margin: 10px 0px 30px 0px;
}

.home-login-btn {
  @apply text-[x-large] font-bold mb-10 p-2.5 rounded-[10px] border-[5px] border-solid border-capstone-grey-strong bg-capstone-green-strong hover:bg-capstone-green text-capstone-black;
}


/* ========== LOGIN/REGISTER ========== */

.login-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-btn-row {
  display: flex;
  justify-content: center;
}

.login-register-form-container {
  background-color: var(--capstone-grey);
  border: 3px solid var(--capstone-grey-strong);
  border-radius: 5px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-label {
  @apply block text-white text-sm font-bold mb-2
}

.login-form-field {
  @apply bg-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

.login-form-error-text {
  color: red;
  text-align: center;
  font-size: large;
}

/* ========== ADMIN TABLES ========== */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.system-table {
  width: 85%;
  border-collapse: collapse;
  background-color: var(--capstone-grey);
  border: 3px solid black;
  font-size: large;
}

.system-table thead {
  background-color: var(--capstone-green-strong);
  border-bottom: 4px solid black;
  color: black;
}

.system-table th {
  padding: 14px;
  text-align: left;
  font-size: large;
  font-weight: bold;
  border-right: 2px solid black;
}

.system-table th:last-child {
  border-right: none;
}

.system-table td {
  padding: 12px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  background-color: null;
}

.system-table td:last-child {
  border-right: none;
}

.system-table tbody tr:nth-child(even) {
  background-color: var(--capstone-grey-strong);;
}

.system-table tbody tr:hover {
  background-color: var(--capstone-green);
  color: black;
  transition: 0.2s ease-in-out;
}

.table-title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 2rem;
  border-bottom: 8px solid black;
  display: inline-block;
  padding-bottom: 0.25rem;
}

.table-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-action-btn {
  @apply bg-capstone-green hover:bg-capstone-green-strong text-black border-2 border-solid border-black font-bold py-1 px-3 rounded;
}

/* ========== ADMIN CREATE COMPANY ========== */
.acc-page-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 5px;
}

/* ========== ADMIN Dashboard ========== */
.page-header-stats {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;

  margin-top: 1%;
  margin-bottom: 1%;
}

/* ========== STUDENT DASHBOARD ========== */
.sd-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.sd-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--capstone-black);
  border: 5px solid var(--capstone-grey-strong);
  border-radius: 5px;

  width: 60%;
}

.sd-header-text {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  border-bottom: 12px solid var(--capstone-green-strong);

  margin-top: 2%;
}

.sd-body-text {
  font-size: large;
  text-align: center;
  width: 60%;
  padding: 5px;
  margin: 10px 0px 30px 0px;
}

.sd-btn-row {}

/* ========== STUDENT PROFILE ========== */
.profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header-text {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
}


.profile-content-container {
  background-color: var(--capstone-grey);
  border: 5px solid var(--capstone-grey-strong);
  border-radius: 5px;
  width: 75%;
  margin-top: 1%;
}

.profile-content-lr {
  display: flex;
  flex-direction: row;
}

.profile-content-left {
  /* background-color: red; */
  flex-basis: 50%;
}

.profile-content-right {
  /* background-color: blue; */
  flex-basis: 50%;
}

.profile-content-bottom {
  display: flex;
  flex-direction: column;
}

.profile-form-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-form-error-text {
  color: red;
  font-weight: bold;
}

.profile-form-row {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 10px 5px;
}

.profile-form-label {
  color: white;
  font-size: small;
  font-weight: bold;
  margin: 2px;
}

.profile-form-field {
  @apply bg-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.progress-bar-header {
  color: white;
  font-size: small;
  font-weight: bold;
  margin-left: 3px
}

.progress-bar-container {
  width: full;
  height: 15px;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
}

.progress-bar-value {
  background: #FC89B5;
  background: linear-gradient(90deg, rgba(252, 137, 181, 1) 0%, rgba(252, 117, 169, 1) 25%, rgba(252, 97, 156, 1) 50%, rgba(252, 75, 143, 1) 75%, rgba(252, 61, 134, 1) 100%);
  height: 15px;
  border-radius: 15px;
}

.profile-experience-label-row {
  display: flex;
  margin: 0px 5px 0px 5px;
  /* justify-content: space-between; */
}

.profile-experience-row {
  display: flex;
  margin: 0px 5px 10px 5px;
}

.profile-experience-company-field {
  @apply bg-white shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight w-140 mr-3;
}

.profile-experience-date-field {
  @apply bg-white shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight w-20;
}

.profile-add-experience-button {
  @apply bg-capstone-green-strong hover:bg-capstone-green text-black border-2 border-solid border-capstone-grey-strong font-bold py-2 px-4 my-2 mx-1 rounded w-60
}

.profile-experience-item-list {
  /* margin: 0px 5px 10px 5px; */
}

.profile-experience-item-container {
  margin: 0px 5px 10px 5px;
  display: flex;
}

.experience-item {
  @apply bg-white shadow appearance-none border rounded w-140 py-2 px-1 mr-3 text-gray-700 leading-tight flex;
}

.experience-item-text {
  @apply p-1 w-113
}

.experience-item-years {
  text-align: right;
  font-weight: bold;
}

.experience-item-delete {
  @apply bg-red-500 shadow appearance-none border rounded w-20 py-2 px-3 text-white leading-tight hover:bg-white hover:text-red-500;
}

/* ========== STUDENT JOB BOARD ========== */
.sjb-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sjb-header-text {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
}

.sjb-job-list-container {
  width: 60%;
}

.sjb-job-item-container {
  background-color: var(--capstone-grey);
  border: 5px solid var(--capstone-grey-strong);
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  margin-top: 1%;
  margin-bottom: 1%;
}

.sjb-job-item-top-container {
  /* background-color: red; */
  height: fit-content;
  border-bottom: 5px solid var(--color-capstone-grey-strong);

  display: flex;
  flex-direction: row;
}

.sjb-job-item-top-container-hover {
  @apply hover:bg-capstone-green-strong rounded
}

.sjb-job-item-bottom-container {
  /* background-color: blue; */
  height: 150px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
}

.sjb-job-item-top-left {
  /* background-color: red; */
  flex-basis: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sjb-job-item-top-right {
  /* background-color: blue; */
  flex-basis: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sjb-job-item-title-text {
  font-size: x-large;
  font-weight: bold;
  padding: 2px;
  margin: 2px;
}

.sjb-job-item-company-text {
  font-size: medium;
  font-weight: bold;
  padding: 2px;
  margin: 2px;
  color: gray
}

.sjb-job-item-info-text {
  font-size: small;
  font-weight: normal;
  font-style: normal;
  margin-left: 20px;
  padding: 5px;
}

.sjb-job-item-bottom-about-container {
  flex-basis: 50%;
  margin: 5px;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sjb-job-item-bottom-skills-container {
  flex-basis: 20%;
  margin: 2px;

  display: flex;
  justify-content: start;
  flex-direction: column;
}

.sjb-job-item-bottom-schedule-container {
  flex-basis: 30%;
  margin: 2px;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sjb-job-item-skills-list {
  list-style-type: disc;
}

.sjb-job-item-skills-list-item {
  margin-left: 15px;
  padding: 2px;
}

.sjb-apply-btn {
  @apply bg-capstone-green-strong hover:bg-capstone-green text-black border-2 border-solid border-capstone-grey-strong font-bold py-2 px-4 m-5 rounded text-2xl
}

.sjb-apply-disabled {
  @apply bg-capstone-green-strong text-black border-2 border-solid border-capstone-grey-strong font-bold py-2 px-4 m-5 rounded text-2xl opacity-50
}

/* =========== COMPANY POSTINGS ========== */
.cjb-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cjb-post-container {
  background-color: var(--capstone-grey);
  border: 5px solid var(--color-capstone-grey-strong);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 12px;
  margin-right: 60px;
  width: 50%;
}

.cjb-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cjb-posting-header {
  margin-bottom: 4px;
  font-size: x-large;
  font-weight: bold;
  border-bottom: 5px solid var(--capstone-black);
}

.cjb-posting-desc {
  margin-bottom: 8px;
  font-style: italic;
}

.cjb-skills-contianer{
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

.cjb-skills-item {
  background-color: var(--capstone-green-strong);
  color: black;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: medium;
}

/* =========== COMPANY POSTING APPLICATIONS ========== */
.cjba-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cbja-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cjba-app-item-container {
  border: 5px solid var(--color-capstone-grey-strong);
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  width: 70%;
}

.cbja-app-item-rank-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.cbja-app-item-rank-badge {
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 999px;
  font-weight: bold;
}

.cjba-app-item-rank-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

.cjba-app-item-rank-badge {
  background-color: var(--capstone-green-strong);
  color: black;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

/* =========== CREATE POSTING ========== */
.cjp-form-row {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 10px 5px;
  align-items: center;
}

.cjp-add-skill-button {
  @apply bg-capstone-green-strong hover:bg-capstone-green text-black border-2 border-solid border-capstone-grey-strong font-bold py-2 px-4 my-2 mx-1 rounded w-full
}

.cjp-skills-row {
  display: flex;
  margin-left: 10px;

}

.cjp-skills-item {
  @apply bg-white shadow appearance-none border rounded  text-gray-700 leading-tight flex;
}

.cjp-skills-text {
  @apply p-1 w-140
}

.cjp-days-rows {
  display: flex;
  justify-content: space-around;
}
