@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --capstone-green: #e6fff5;
  --capstone-green-strong: #7bffca;
  --capstone-blue: #edffff;
  --capstone-blue-strong: #9bffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--capstone-green);
  --color-blue: var(--capstone-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ========== GLOBAL STYLES ========== */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2 mx-2 rounded 
}

.button-disabled {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2 mx-2 rounded opacity-50
}

/* ========== LAYOUT ========== */

.nav-header {
  background-color: #edffff;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-header-text {
  font-size: xxx-large;
  font-weight: bold;
  border-bottom: 12px solid black;
  border-radius: 4px;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav-item {
  font-size: x-large;
  font-weight: bold;
  margin: 15px 55px;
}

/* ========== LOGIN/REGISTER ========== */

.login-register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-btn-row {
  display: flex;
  justify-content: center;
}

.login-register-form-container {
  background-color: var(--capstone-green);
  border: 3px solid black;
  border-radius: 5px;
  width: fit-content;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-label {
  @apply block text-gray-700 text-sm font-bold mb-2
}

.login-form-field {
  @apply bg-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}